.type-shop_order {
  .column-order_actions .print-preview-button.order-confirmation {
    display: none;
    background-color: #FFFFFF;
    &:before {
      color: #008000;
    }
  }

  &.status-wc-on-hold,
  &.status-wc-processing,
  &.status-wc-pending {
    .column-order_actions .print-preview-button.order-confirmation {
      display: block;
    }
  }
}